* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #2d3945;
  line-height: 1.6;
}

/* ======================================
                 BASE STYLES
 ======================================== */

header {
  background: rgb(45, 57, 69);
}

h1.page-title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 27px 0;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.main-container {
  display: block;
  margin: 0 15px;
}

.main-container .signup-intro {
  max-width: 100%;
  text-align: center;
  margin: 30px auto;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(45, 57, 69);
  color: #2d3945;
}

.main-container .signup-title {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.main-container .signup-text {
  padding: 12px 22px 35px;
  font-size: 1.2em;
  color: rgba(44, 56, 67, .5);
  border-bottom: 4px solid rgb(45, 57, 69);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

legend {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 30px;
}

fieldset {
  border: none;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: rgba(70, 105, 139, .5);
  transition: .5s ease-in-out;
}

label:hover {
  color: rgba(70, 105, 139, 1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
  background-color: rgba(70, 105, 139, .05);
  height: 50px;
  width: 100%;
  border: 1px solid rgba(70, 105, 139, .3);
  border-radius: 5px;
  margin-bottom: 30px;
  color: rgb(45, 57, 69);
  font-size: 1em;
  padding: 15px;
  transition: .5s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid rgb(70, 105, 139);
  background-color: rgba(70, 105, 139, .2);
}

input:hover,
select:hover,
textarea:hover {
  background-color: rgba(70, 105, 139, .2);
}

input[id="zip-code"] {
  width: 50%;
}

::placeholder {
  text-align: right;
  padding-right: 20px;
  font-style: italic;
  opacity: .5;
}

hr {
  border: 2px solid #2d3945;
  margin: 10px 0 30px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 12px;
}

.checkbox-radio {
  display: inline;
  margin-left: 15px;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-weight: 700;
  transition: .25s ease-in-out;
}

input[id*="javascript-news"],
input[id*="plain-text"] {
  margin-bottom: 30px;
}

textarea {
  height: 100px;
  background-color: #FFF;
  margin-top: 12px;
  margin-bottom: 0;
  border: 1px solid rgb(239, 240, 241);
}

button[type="submit"] {
  width: 100%;
  background-color: rgb(78, 187, 181);
  color: #FFF;
  font-size: 2em;
  padding: 25px;
  font-family: initial;
  border-radius: 5px;
  transition: .25s ease-in-out;
}

button[type="submit"]:hover {
  background-color: rgba(78, 187, 181, .5);
  border: 1px solid rgba(78, 187, 181, 1);
  text-shadow: 1px 1px 2px rgba(78, 187, 181, 1);
}

.newsletter-bg {
  background: rgba(45, 57, 69, .05);
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.newsletter-bg fieldset > label {
  color: rgba(45, 57, 69, 1);
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

footer {
  margin: 30px 0 200px;
}

.copyright {
  text-align: center;
  color: #9da3a8;
  font-style: italic;
}

@media (min-width: 768px) {

  .main-container {
    max-width: 600px;
    margin: auto;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* margin-bottom: 30px; */
  }

  form label {
    flex: 40%;
    margin-top: -20px; /* Shifted label up to center w/input fields */
  }

  input[id="zip-code"] {
    width: 25%;
    margin-right: 320px;
  }

  .remove-top-margin { /* Removes the margin-top added to form label */
    margin-top: 0;
  }

  .main-container .signup-text {
    font-size: 1em;
    padding-top: 0;
  }

}


